
.about-container{
    display: grid;
    justify-content: center;
}

.about-container h1{
    color: darkgreen;
    font-size: 40px;
    margin: 20px 0;
}

.about-info{ 
    margin: auto;
    width: 800px;
    padding-bottom: 50px;
}
.about-info p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;   
}
.about-info h2{
    color: darkgreen;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.serivces-container{
    display:block;
    margin: auto;
    padding: 20px;
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    width: 700px;
}
.serivces-container h2{
    color: darkgreen;
    font-size: 30px;
    margin: 20px 0;
}
.services ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.services li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
    font-size: 19px;
}

.services li::after{
    content: '✓';
    color: green;
    position: relative;
    width: 20px;
    text-align: center;
}