

.ramirezLogo{
    width: 400px;
    justify-self: center;
}

.main-home{
    display: grid;
    justify-content: center;
}
.slideshow-container{
    width: 100%;    
    max-width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute; /*position slides on top of each other*/
    opacity: 0; /*initially hide slides*/
    transition: opacity 0.5s ease-in-out;
}
.slide.active{
    opacity: 1;
}
.slide img{
    width: 1000px;
    height: 100%;
    object-fit: cover; /* crop some of pic 'fill' doesnt crop pic*/
}
.slide-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 26px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 150px;
}
.intro-boxes{
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 3px solid green;
}
.intro-boxes p{
    text-align: justify;
    font-family: 'Monaco', monospace;
}
.content{
    display: flex;
    gap: 16.5rem;
    justify-content: center;
    align-items: flex-start;
}
.boxes-container{
    width: 250px;
    height: auto;

}
.boxes-container .btn-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-size: 18px;
}
.boxes-container .btn-link:hover, .btn-container button:hover{
    background-color: white;
    color: green;
}
.info-box{
    width: 100%;
    padding: 2px;
    background-color: slategray;
    border-radius: 10px;

}

.info-box img{
    width: 100%;
    height: 200px; /*fixed hight for both images*/
    border-radius: 10px;
    display: block;

}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landscaping-form {
    display: flex;
    flex-wrap: wrap; /*wrap onto next line when not enough space */
    justify-content: center;
    width: 100%;  /*ensure we use the whole form */
}
.input-container, .description-container{
    flex: 1 1 400px ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    
}
.input-container h4 {
    color: blue;
    text-align: left;
    margin-top: 5px;
    font-size: 13px;
}

.btn-container{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.btn-container button{
    width: 150px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
}
.form-class {
    margin-bottom: 10px;
}
/* input boxes */
.form-class input, .form-class textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px; 
    border-color: transparent;
    background-color: lightgray;
}
.form-class input::placeholder, .form-class textarea::placeholder {
    font-size: 15px;
    color: rgb(75, 74, 74);

}
textarea {
    padding: 10px;
    height: 200px;
    border: 9px solid #ccc;
    border-radius: 4px;
    resize: none;
}

@media(max-width:640px){
    .intro{
        flex-direction: column;
        align-items: center;
    }
    .intro-boxes{
        width: 70%;
        margin: 10px 0;
    }
}
@media(min-width: 1000px){
    .slideshow-container{
        width: 1000px;
        margin: 0 auto;
    }
}
@media(max-width:999px){
    .slideshow-container{
        width: 100%;
    }
}